# Notebook to extract MFCC data from British dataset

In [1]:
import librosa
import os
import librosa.display
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [10]:
def mfcc_british_csv_data():
    """
    Only needs to run 1nce to generate the df that has been saved at the bottom
    """
    mfccs_array = np.empty((0, 12), float)
    columns = ['feature_' + str(x) for x in range(1,13,1)]
    word = []
    speaker = []
    
    for filename in os.listdir('intersection_wav-20210409T172655Z-001\\Intersection_wav\\'):

    #    if "a" == filename.split('_')[0]: 

        try:
            y, sr = librosa.load('intersection_wav-20210409T172655Z-001\\Intersection_wav\\' + filename, sr=None)
            mfccs = librosa.feature.mfcc(y=y, sr=sr, n_mfcc=12)         
            word.append(filename.split('_')[1])
            speaker.append(filename.split('_')[2].split('.')[0])
            
            mfccs_array = np.append(mfccs_array, np.average(mfccs, axis=1).reshape(1,12), axis=0)
        except:
           print('could not use word {}'.format(filename.split('_')[0]))

    df = pd.DataFrame(mfccs_array, columns=columns)
    df['word'] = word
    df['speaker'] = speaker


    df.to_csv('british_mfcc.csv')
    

mfcc_british_csv_data()

In [11]:
df = pd.read_csv('british_mfcc.csv')

In [12]:
df.head()

,Unnamed: 0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,word,speaker
0,0,-377.940613,97.610855,-29.524025,44.129501,-44.445625,44.619854,-26.698278,17.984211,-21.556889,-4.993990,-7.311664,-21.589819,itself,652
1,1,-370.646545,135.337326,-43.934628,44.503075,-6.501750,12.076227,-11.316797,-0.421726,-9.263970,-15.827541,-7.179820,-13.124902,mechanical,902
2,2,-352.709290,139.503372,-41.135853,44.499325,-14.229404,21.648710,-13.332117,-3.777085,-17.378553,-18.698397,-9.005560,-20.468716,minority,128
3,3,-393.534637,109.235237,-41.986629,52.101562,-24.678205,44.674564,-23.397594,6.709574,-12.300593,-8.200753,-10.074049,-18.646078,miraculous,616
4,4,-365.305786,114.182961,-35.337337,52.239605,-15.282666,34.564716,-31.511753,8.210619,-15.743849,-17.258562,-9.865451,-13.761581,necessarily,299